/* The sidebar menu */
.sidebar {
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on back */
  top: 93px; /* Stay under the header and menu */
  left: 0;
  background-color: #111; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 0;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: rgb(52, 51, 56);
    color: rgb(226, 180, 240);
    cursor: pointer;

    width: 160px;
    padding: 10px;
    margin: 0;
    text-align: center;
    border: none;
    font-size: smaller;

    outline: none;
    transition: 0.4s;
    overflow: auto;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
    color: rgb(99, 13, 126);
  }

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 14px;
    display: none;
    overflow: hidden;
  }
/*Show personal profile when page starts 
.personal_profile_b{
  background-color: rgb(167, 140, 54);
  color: #000000;
}
#personal_profile{
  display: block;
  margin-left: 160px;
  z-index: 3;
}*/