/* Creating the grid**/
.cv_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(200px, auto);
  width: 800px;
  margin: auto;
  margin-top: 65px;
  position: relative;
  top: auto;
  bottom: 50px;
}

.third_left, .third{
  grid-column: 1/2;
  grid-row: 1;
} 

.twothird_right, .twothird{
  grid-column: 2/ 4;
  grid-row: 1;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
} 
.education{
  grid-column: 1/2;
  grid-row: 1;
}
.workexperience{
  grid-column: 1/2;
  grid-row: 2;
}
/*Making all items look the same**/
  /*Backgrounf colour */
.cv_display{
  border-radius: 15px;
  background-color: #00000036; 
  text-align: left;
  padding: 15px;
}
  /*Image diplay*/
.display_img img{
  border-radius: 350px;
}
.display_img{
  width: 80%;
  margin: auto;
}
  /*icons*/
.fa, .fas, .far{
  color: rgb(53, 15, 97);
  padding: 5px;
}
  /*Headers*/
.cv_container h3{
  padding: 5px;
  font-size: larger;
}
.cv_container h4{
  padding: 10px;
}
  /*text*/
.cv_container p, .cv_container li{
    padding-left: 20px;
  }
.cv_container ul li{
  list-style-type:none;

}
/*intro text*/
.intro p{
  padding-left: 0;
  
}
.intro .email{
  font-size: 12px;
}
.back{
  background-color: rgba(115, 54, 184, 0.438);
  width: 90%;
  margin: auto;
} 
.front{
  background-color: rgb(53, 15, 97);
  
}

.skill_bar{
  border-radius: 35px;
  height:18px;
}

.skill_bar p{
  padding-left: 5px; 
  font-size: small;
  color:rgb(149, 84, 224);
}