header{
  color: rgb(255, 193, 21);
  background-color: rgb(53, 15, 97);
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size:30px;
  padding: 5px;
  font-family: Russo One;
  
  z-index: 5;
  position: sticky;
  top: 0;
}

  