* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}

body{
background-color: rgb(236, 228, 241);
text-align: center;
}


.start{
background-color: #000000a1; 
border: 2px dotted rgb(126, 121, 121);
margin: auto;
padding:25px;
width: 80%;
font-size: large;
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
position: relative;
top: 85px;
}
.start samp{
font-family: 'Press Start 2P', cursive;
font-size: larger;
color: #44ceab;
}
.start h2{
font-size: larger;
color: rgb(114, 235, 208);
}

/*code for a contact form*/
.contactform{
    width: 80%;
}

.contactform input[type=text], .contactform textarea{
  width:70%;
  padding:8px 20px;
  margin: 8px;
  border: 1.5px solid rgb(3, 2, 5);
  border-radius:5px;
}

body main .contactform label{
  visibility: collapse;
  display: none;
}
.contactform p{
  float: right;
  width: 80%;
}

.contactform input[type="submit"]{
  color: rgb(251, 255, 1);
  background-color: rgb(112, 100, 194);
  padding: 10px;
}
.contactdetails{
  position: fixed;
  bottom: 40px;
  width: 100%;
  }

.contact i.fas,
.contact i.fab {
    color: rgb(3, 2, 5);
  }
