
nav ul{
    background-color: rgb(3, 2, 5);
    width: 100%;
    padding: 10px 16px;
  }
  
  nav ul li{
    list-style-type:none;
    display: inline-block;
  }
  nav ul li a{
    color: rgb(202, 181, 221);
    text-decoration: none;
    padding: 14px 16px;
    font-family: Bangers;
  }
  
  nav ul li a:hover, nav .active a{
    background-color: rgb(255, 208, 0);
    color:rgb(3, 2, 5) ;
    border-radius: 15px 15px 0px 0px;
  }
  