
nav ul{
    background-color: rgb(3, 2, 5);
    width: 100%;
    padding: 14px 16px;
  }
  
  nav ul li{
    list-style-type:none;
    display: inline-block;
  }
  nav ul li a{
    color: rgb(202, 181, 221);
    text-decoration: none;
    padding: 14px 16px;
    font-family: Bangers;
  }
  
  
  nav ul li a:hover{
    background-color: rgb(202, 174, 48);
    color:rgb(3, 2, 5) ;
  }
  