.back{
    background-color: rgba(115, 54, 184, 0.438);
    width: 90%;
    margin: auto;
} 
.front{
    background-color: rgb(53, 15, 97);
    
}

.skill_bar{
    border-radius: 35px;
    height:18px;
}

.skill_bar p{
    padding-left: 5px; 
    font-size: small;
    color:rgb(149, 84, 224);
}
.learning{
    animation-name: bar_animation;
    animation-duration: 5s;
    animation-timing-function: ease-in;
    animation-iteration-count: infinite;
}
@keyframes bar_animation{
   100%{width: 100%;}
}
